*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(./assets/bg-mobile.jpg) no-repeat center/cover;
}

body *{
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

#container{
  width: 360px;
  margin: auto;
  padding-top: 45px;
}

#profile{
  text-align: center;
  padding: 23px;
}

#profile img{
width: 112px;
border-radius: 50%;
border: 2.5px solid rgb(8, 8, 8);
}

#profile p{
  font-weight: 500;
  line-height: 24px;
  font-size: medium;
  margin-top: 8.5px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition-delay: 0.2s;
}

ul li a:hover{
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid rgb(255, 255, 255);
}

#text {
  display: flex;
  padding-top: 23px;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

#icons{
  display: flex;
  padding: 23px 0;
  gap: 35px;
  font-size: 28px;
  justify-content: center;
}